@import url('http://fonts.cdnfonts.com/css/bahnschrift');

$background: #FAFCFD;
$second: #A0C4FF;
$secondHover: #B8D3FF;
$green: #CAFFBF;
$yellow: #FDFFB6;
$orange: #FFD6A5;
$red: #FFADAD;
$pink: #FFC6FF;
$violet: #BDB2FF;
$black: black;
$white: white;

$font: 'Bahnschrift', sans-serif;

body{
    background-color: $background;
    color: $black;
    font-family: $font;
    margin: 0;
    padding: 0;
}

.main{
    width: 80vw;
    min-height: 75vh;
    margin: 5vh 10vw;
    padding: 0;
}

.btn{
    background-color: $white;
    color: $black;
    font-family: $font;
    padding: 1vh 1vw;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;

    &:hover{
        background-color: $second;
        transition-duration: 0.25s;
    }
}

.input{
    background-color: $white;
    color: $black;
    font-family: $font;
    font-size: 1em;
    padding: 1vh 1vw;
    border: 1px solid black;
    border-radius: 10px;

    &:disabled{
        opacity: 0.5;
    }
}

.veryHard{
    background-color: $red;
}

.hard{
    background-color: $orange;
}

.moderate{
    background-color: $yellow;
}

.easy{
    background-color: $green;
}

.other{
    background-color: $pink;
}

.second{
    background-color: $second;
}

/********** login & register **********/

.login{
    background-color: $white;
    width: 20vw;
    margin: 7vh auto;
    padding: 3vh 3vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    border-radius: 10px;

    &__form{
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 3vh;

        width: 100%;

        &__group{
            display: flex;
            flex-direction: column;
            row-gap: 1vh;
            width: 100%;

            &__error{
                color: red;
            }

            label{
                font-size: 1em;
            }
        }

        input[type=submit]{
           width: 100%;
           margin: 2vh 0;
           background-color: $second;
            
           &:hover{
               background-color: $secondHover;
           }
        }
    }
}

/************* user panel *************/

.username{
    color: $second;
    text-transform: capitalize;
}

.boards{
    &__list{
        height: 30vh;
        min-height: 250px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        justify-items: center;
        gap: 4vh 2vw;

        a{
            color: $black;
            text-decoration: none;
            height: 100%;
            cursor: pointer;
        }

        &__item{
            height: 100%;
            width: 14vw;
            background-color: $white;
            box-shadow: inset 0 0 32px $second, 0px 8px 16px 0px rgba(0,0,0,0.5);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition-duration: 0.35s;
            overflow: auto;


            h1{
                margin: 1vh 0.5vw 1vh 0.5vw;
                width: 90%;
                color: $black;
                word-break: break-word;
                font-weight: lighter;
            }

            &:hover{
                opacity: 0.5;
                transform: scale(1.05);
            }

            &--add{
                row-gap: 3vh;

                input[type=text]{
                    width: calc(75% - 2vw);
                    margin: 0;
                    padding: 1vh 1vw;
                }

                input[type=button]{
                    width: 75%;
                    margin: 0;
                    padding: 1vh 0;
                    background-color: $second;

                    &:hover{
                        background-color: $secondHover;
                    }
                }

                &:hover{
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
}

/*************** board ***************/

.managment{
    margin: auto 6vw 5vh 6vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 30px;
    padding: 2vh 1vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    text-align: center;

    &__item{
        width: calc(68vw/3);

        input[type=text]{
            width: 100%;
            text-align: center;
            font-size: 1.75rem;
            border: 0;
            padding: 1vh 0;
        }

        &__img{
            height: 6vh;

            img{
                height: 90%;
                cursor: pointer;

                &:hover{
                    transition: 0.25s;
                    opacity: 0.5;
                }
            }

            &--add{
                text-align: left;
            }

            &--del{
                text-align: right;
            }
        }
    }
}

.board{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1vw;

    &__stage{
        width: calc(65vw/4);
        text-align: center;
        background-color: $white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
        border-radius: 30px;
        height: 100%;
    
        .dropTarget{
            margin-top: 0;
            height: auto;
            border-radius: 30px;
            min-height: 5vh;
        }
    
        &__name{
            width: 100%;
            border-bottom: 1px solid black;
        }
    
        &__list{
            padding: 1vh 1vw;
    
            &__item{
                border-radius: 30px;
                box-shadow: 1px 1px 3px black;
                cursor: grab;
    
                p{
                    padding: 1vh 1vw;
                    font-size: 1.25em;
                }

                &--add{
                    input{
                        width: 100%;
                        border-radius: 30px;
                        border: 0;
                    }
                }

            }
        }
    }

    &__delete{
        position: fixed;
        bottom: 3vh;
        right: 3vw;
        height: 20vh
    }
}


/*************** phone ***************/
@media only screen and (max-width: 800px) {
    .login{
        width: 60vw;
    }

    .boards__list__item{
        width: 39vw;
    }

    .board{
        flex-direction: column;
        row-gap: 3vh;
        
        &__stage{
            width: 80vw;
        }
    }

    .managment{
        flex-direction: column;
        row-gap: 2vh;
        margin: 3vh 0;

        &__item{
            width: 80%;
        }
    }

    .board__delete{
        position: relative;
        width: 50vw;
    }
}