@import url('http://fonts.cdnfonts.com/css/bahnschrift');

$background: #FAFCFD;
$second: #A0C4FF;
$secondHover: #B8D3FF;
$green: #CAFFBF;
$yellow: #FDFFB6;
$orange: #FFD6A5;
$red: #FFADAD;
$pink: #FFC6FF;
$violet: #BDB2FF;
$black: black;
$white: white;

$font: 'Bahnschrift', sans-serif;

body{
    background-color: $background;
    color: $black;
    font-family: $font;
    margin: 0;
    padding: 0;
}

.main{
    width: 80vw;
    min-height: 75vh;
    margin: 5vh 10vw;
    padding: 0;
}

.btn{
    background-color: $white;
    color: $black;
    font-family: $font;
    padding: 1vh 1vw;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;

    &:hover{
        background-color: $second;
        transition-duration: 0.25s;
    }
}

.input{
    background-color: $white;
    color: $black;
    font-family: $font;
    font-size: 1em;
    padding: 1vh 1vw;
    border: 1px solid black;
    border-radius: 10px;

    &:disabled{
        opacity: 0.5;
    }
}

.arrow{
    border: solid $black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;

    &--down{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

/********** login & register **********/

.login{
    background-color: $white;
    width: 20vw;
    margin: 7vh auto;
    padding: 3vh 3vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    border-radius: 10px;

    &__form{
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 3vh;

        width: 100%;

        &__group{
            display: flex;
            flex-direction: column;
            row-gap: 1vh;
            width: 100%;

            &__error{
                color: red;
            }

            label{
                font-size: 1em;
            }
        }

        input[type=submit]{
           width: 100%;
           margin: 2vh 0;
           background-color: $second;
            
           &:hover{
               background-color: $secondHover;
           }
        }
    }
}

/************* user panel *************/

.username{
    color: $second;
}

/*************** board ***************/

.stage{
    width: calc(65vw/4);
    text-align: center;
    background-color: $white;
    box-shadow: 1px 1px 5px black;
    border-radius: 30px;


    &__name{
        width: 100%;
        border-bottom: 1px solid black;
    }

    &__list{
        padding: 1vh 1vw;

        &__item{
            border-radius: 30px;
            box-shadow: 1px 1px 3px black;

            p{
                padding: 1vh 1vw;
                font-size: 1.25em;
            }
            
            &--red{
                background-color: $red;
            }

            &--orange{
                background-color: $orange;
            }

            &--yellow{
                background-color: $yellow;
            }

            &--green{
                background-color: $green;
            }

            &--pink{
            background-color: $pink;}
        }
    }
}

/**/
@media only screen and (max-width: 800px) {
    .login{
        width: 60vw;
    }
}