<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    {{> nav}}
    <div class="main">
        <div class="board">
            <div class="board__stage">
                <div class="board__stage__name">
                    <h3>To do</h3>
                </div>
                <div class="board__stage__list">
                    <div class="board__stage__list__item board__stage__list__item--green">
                        <p>1</p>
                    </div>
                    <div class="board__stage__list__item board__stage__list__item--pink">
                        <p>2</p>
                    </div>
                </div>
            </div>
            <div class="board__stage">
                <div class="board__stage__name">
                    <h3>Buffer</h3>
                </div>
                <div class="board__stage__list">
                    <div class="board__stage__list__item board__stage__list__item--yellow">
                        <p>1</p>
                    </div>
                </div>
            </div>
            <div class="board__stage">
                <div class="board__stage__name">
                    <h3>Working</h3>
                </div>
                <div class="board__stage__list">
                    <div class="board__stage__list__item board__stage__list__item--orange">
                        <p>1</p>
                    </div>
                </div>
            </div>
            <div class="board__stage">
                <div class="board__stage__name">
                    <h3>Done</h3>
                </div>
                <div class="board__stage__list">
                    <div class="board__stage__list__item board__stage__list__item--red">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>