<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <link rel="stylesheet" href="/css/modal.css">
    <script>
        var boardId = "{{ boardId }}";
    </script>
    <script src="/js/board.js" defer></script>
    <script src="/js/kanban.js" defer></script>
</head>
<body>
    {{> nav}}
    <div class="main">
        <div class="managment">
            <div class="managment__item">
                <div class="managment__item__img managment__item__img--add">
                    <img src="/img/addUser.png" alt="Dodaj użytkowników" onclick="displayModal('add')">
                </div>
            </div>
            <div class="managment__item">
                <input type="text" name="name" class="input" id="name" onKeyUp="typewatch(function(){changeName();}, 1000 );">
            </div>
            <div class="managment__item">
                <div class="managment__item__img managment__item__img--del">
                    <img src="/img/delete.png" alt="Dodaj użytkowników" onclick="displayModal('delete')">
                </div>
            </div>
        </div>
        <div class="board">
            <div class="board__stage">
                <div class="board__stage__name">
                    <h3>To do</h3>
                </div>
                <div class="board__stage__list">
                    <div class="board__stage__list__item board__stage__list__item--add">
                        <input type="button" class="btn" value="Dodaj zadanie" onclick="displayModal('addTask');changeId('toDo')">
                    </div>
                </div>
                <div class="board__stage__list toDoList dropTarget" id="toDo">

                </div>
            </div>
            <div class="board__stage">
                <div class="board__stage__name">
                    <h3>Buffer</h3>
                </div>
                <div class="board__stage__list">
                    <div class="board__stage__list__item board__stage__list__item--add">
                        <input type="button" class="btn" value="Dodaj zadanie" onclick="displayModal('addTask');changeId('buffer')">
                    </div>
                </div>
                <div class="board__stage__list bufferList dropTarget" id="buffer">

                </div>
            </div>
            <div class="board__stage">
                <div class="board__stage__name">
                    <h3>Working</h3>
                </div>
                <div class="board__stage__list">
                    <div class="board__stage__list__item board__stage__list__item--add">
                        <input type="button" class="btn" value="Dodaj zadanie" onclick="displayModal('addTask');changeId('working')">
                    </div>
                </div>
                <div class="board__stage__list workingList dropTarget" id="working">

                </div>
            </div>
            <div class="board__stage">
                <div class="board__stage__name">
                    <h3>Done</h3>
                </div>
                <div class="board__stage__list">
                    <div class="board__stage__list__item board__stage__list__item--add">
                        <input type="button" class="btn" value="Dodaj zadanie" onclick="displayModal('addTask');changeId('done')">
                    </div>
                </div>
                <div class="board__stage__list doneList dropTarget" id="done">

                </div>
            </div>
        </div>
    </div>
    <img class="board__delete deleteTask" src="/img/delete.png">
    <div class="modal">
        <div class="modal__content modal__content--delete">
            <span onclick="hideModal()" class="close">×</span>
            <h1>Czy na pewno chesz usunąć tablicę?</h1>
            <input type="button" class="btn" value="Anuluj" onclick="hideModal()">
            <input type="button" class="btn del" value="Usuń" onclick="deleteBoard()">
        </div>
        <div class="modal__content modal__content--add">
            <span onclick="hideModal()" class="close">×</span>
            <h1>Użytkownicy z dostępem</h1>
            <div class="modal__content__list" id="usersList">
                
            </div>
            <hr>
            <h1>Przyznaj dostęp użytkownikowi</h1>
                <input type="text" name="username" id="username" class="input" placeholder="Nazwa użytkownika" required>
                <input type="button" class="btn sub add" value="Dodaj" onclick="addUser()"><br>
                <p class="modal__content__form__error"></p>
        </div>
        <div class="modal__content modal__content--addTask">
             <span onclick="hideModal()" class="close">×</span>
             <h1>Dodaj zadanie</h1>
             <div class="modal__content__flex">
                 <input type="text" name="content"  class="input" id="content" placeholder="Treść">
                <select name="difficulty" id="difficulty" class="second" onchange="this.className = this.options[this.selectedIndex].value">
                    <option value="second" class="second">Standrardowy</option>
                    <option value="easy" class="easy">Łatwy</option>
                    <option value="moderate" class="moderate">Umiarkowany</option>
                    <option value="hard" class="hard">Trudny</option>
                    <option value="veryHard" class="veryHard">Bardzo trudny</option>
                    <option value="other" class="other">Inne</option>
                </select>
                <input type="button" class="btn changeId add" value="Dodaj" onclick="addTask()">
             </div>
        </div>
        <div class="modal__content modal__content--changeTask">
            <span onclick="hideModal()" class="close">×</span>
            <h1>Zaktualizuj zadanie</h1>
            <div class="modal__content__flex">
                <input type="text" name="contentChange"  class="input" id="contentChange" placeholder="Treść">
                <select name="difficultyChange" id="difficultyChange" class="input" onchange="this.className = this.options[this.selectedIndex].value">
                    <option value="second" class="second">Standardowy</option>
                    <option value="easy" class="easy">Łatwy</option>
                    <option value="moderate" class="moderate">Umiarkowany</option>
                    <option value="hard" class="hard">Trudny</option>
                    <option value="veryHard" class="veryHard">Bardzo trudny</option>
                    <option value="other" class="other">Inne</option>
                </select>
                <input type="button" class="btn changeTaskId add" value="Zaktualizuj">
            </div>
            <hr>
            <h1>Usuń zadanie</h1>
            <div class="modal__content__flex">
                <input type="button" class="btn deleteTaskId del" value="Usuń">
            </div>
        </div>
    </div>
</body>
</html>