<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <script src="/js/register.js" defer></script>
</head>
<body>
    {{> nav}}
    <div class="main">
        <div class="login">
            <h2>{{ title }}</h2>
            <hr>
            <form method="POST" class="login__form">
                <div class="login__form__group">
                    <label for="username">Nazwa użytkownika</label>
                    <input type="text" name="username" class="input" id="username" required>
                    <span class="login__form__group__error"></span>
                </div>
                <div class="login__form__group">
                    <label for="password">Hasło</label>
                    <input type="password" name="password" class="input" id="password" minlength="6" required>
                    <span class="login__form__group__error"></span>
                </div>
                <div class="login__form__group">
                    <label for="password">Powtórz hasło</label>
                    <input type="password" name="repassword" class="input" id="repassword" minlength="6" required>
                </div>
                <input type="submit" value="Zarejestruj się" class="btn sub" id="register">
            </form>
        </div>
    </div>
</body>
</html>